* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    height: auto;
    width: 450px;
    background-color: lightgoldenrodyellow;
    margin: 20px auto;
    padding: 20px 10px 10px 10px;
}

h1 {
    background-color: black;
    color: white;
    padding: 10px;
    margin: auto 20px;
    text-align: center;
}

img {
    margin: 20px auto;
    display: block;
    width: 350px;
    height: auto;
}

/* Hide unneed element when display on Github Pages */
div#forest-ext-shadow-host {
    display: none;
}